<div class="header size margin text-center container center">
<div>
  <img src="/img/dracula.svg" class="logo" alt="Logo">
  <h1 class="big color-green">Dracula</h1>
  <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/dracula/dracula-theme" data-size="large" data-show-count="true" aria-label="Star dracula/dracula-theme on GitHub">Star</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/dracula/dracula-theme/fork" data-size="large" data-show-count="true" aria-label="Fork dracula/dracula-theme on GitHub">Fork</a>
</div>
</div>
